* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-family: 'Roboto', sans-serif;
}

.background {
    background: url("../img/onder-ortel-Rxo-TxwpKm8-unsplash.jpg") center/cover no-repeat;
    background-attachment: fixed;
    min-height: 100vh;

}

.card-outer {
    background-color: #bec2c0;
    font-family: var(--font-family);
    box-shadow: 0 22px 22px 0 rgba(173, 7, 16, 0.2), 0 6px 20px 0 rgba(151, 5, 5, 0.19);
}

.close-button {
    position: absolute;
    z-index: 1;
    right: 0;
    color: rgb(100, 96, 96);
    
}

.card-inner {
    height: 240px;
    font-family: var(--font-family);
}

.card-image {
    height: 227px;
    width: 33em;
    margin: 5px;
}

.card-block h4 {

    font-family: var(--font-family);
    text-align: left;
    font-weight: bold;
    text-transform: capitalize;
    overflow: scroll;
    max-height: 30px;
}

.ingredient-list {
    overflow: scroll;
    height: 100px;
    padding-left: 30px;
    add
    

}

.ingredients-list {
    overflow: scroll;
    
}

::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width: 750px) {

    .card-image {
        height: 227px;
        width: 7em;
        margin: 5px;
    }

    .card-outer {
        background-color: #bec2c0;
        font-family: var(--font-family);
        width: 47em;
    }


    .card-block h4 {

        font-size: 15px;
        font-weight: bold;
    }

    .ingredients-list {

        max-height: 40px;
        
        
        
    }

    .view-recipe {
        color: violet;
        max-height: 10px;
        padding-bottom: 0;
        position: absolute;
        bottom: 15px;
    }

}

.card-outer-form {
    background-color: #bec2c0;
    font-family: var(--font-family);
    width: 470px;
    position: relative;
    box-shadow: 0 12px 12px 0 rgba(173, 7, 16, 0.2), 0 6px 20px 0 rgba(151, 5, 5, 0.19);
}


.search-form {
    width: auto;
    font-family: var(--font-family);
    display: flex;
    overflow: hidden;

}

.danger {

    background-color: rgb(65, 61, 61);
    color: white;
    padding: 0.5rem;
    letter-spacing: 2px;
    font-family: var(--font-family);
    text-transform: capitalize;
}

.view-recipe {
    color: violet;
    max-height: 12px;
    padding-bottom: 0;
    position: absolute;
    bottom:10;

}